.about {
    width: 590px;

}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 345px;

}

.profile .profile-1 p {
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.profile .profile-2 {
    padding: 15px;
    margin-left: 10px;


}

.profile .profile-2 h2 {
    position: relative;
}

.profile .profile-2 h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #b4b4b4;
    transform-origin: left;
    transform: scaleX(0);
    animation: underlineSweep .7s ease-out forwards;
}

.profile .profile-2 strong {
    font-size: 15px;
}

.profile .profile-2 p {
    font-size: 13px;
    color: #b4b4b4; ;
}

.avatar {
    width: 170px;
    height: 170px;

    border-radius: 50%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}
.avatar:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 20px #443da3, 0 0 30px #443da3, 0 0 0px #443da3; */
}
@keyframes underlineSweep {
  from { transform: scaleX(0); }
  to   { transform: scaleX(0.2); }
}