body {
    font-family: "Poppins", sans-serif;
    background: #000;
    position: relative;
    color: #b4b4b4;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


body::before {
    content: "";
    position: fixed;

    inset: 0;

    background: radial-gradient(ellipse 78% 88% at center,
            #443da3 0%,
            #000000 32%);
    transform: scale(1);
    transform-origin: center;
    animation: smoothBreath 5s ease-in-out infinite;

    z-index: -1;
}

.app {
    width: 590px;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 1rem;
    color: #ccc;
}

.navbar a {
    color: #d0d0d0;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #443da3;
}

.hero {
    text-align: left;
    padding-top: 1rem;

}

.hero h1 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    
}

.hero p {
    padding-top: 0.5rem;
    padding-right: 0.8rem;
    letter-spacing: 0.1px;
    color: #d0d0d0;
    font-size: 0.95rem;
}

.footer {
    font-size: 0.9rem;
    margin-top: 35px;
    gap: 2rem;
}
.footer .links {
    gap: 2.5rem;
}
.footer .links button{
    background: transparent;
} 
.footer a{
    color: #b4b4b4;
}
.footer a:hover {
    color: #b4b4b4;
}
.footer p {
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

@keyframes smoothBreath {

    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.2);

    }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .hero img {
    width: 90%;
  }
}
