body {
    font-family: "Poppins", sans-serif;

    background: #000000;
    margin: 0;
    position: relative;
    color: #b4b4b4;
    min-height: 100vh;
    

    overflow-x: hidden;
    z-index: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


body::before {
    content: "";
    position: fixed;

    inset: 0;

    background: radial-gradient(ellipse 78% 88% at center,
            #443da3 0%,
            #000000 32%);

    transform: scale(1);
    transform-origin: center;
    animation: smoothBreath 5s ease-in-out infinite;

    z-index: -1;
}
.app{
    width: 590px;
    padding: 1rem;
}
.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 1rem;
    color: #ccc;
}

.navbar a {
    color: #d0d0d0;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #443da3;
}

.hero2 .title h1{
    text-align: center;
}
.hero2 .project1 {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;


}
.hero2 .project2 {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;


}
.hero2 .project3 {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;


}
.hero2 .project1-title{
    display: flex;
    justify-content: space-between;
}
.hero2 .project2-title{
    display: flex;
    justify-content: space-between;
}
.hero2 .project3-title{
    display: flex;
    justify-content: space-between;
}
.hero2 button{
    background: none;
    border-radius: 12px;
    height: fit-content;
    margin-top: 18px;
    padding: 5px 10px;

}
.hero2 button:hover{
    background-color: white;
    border: none;

}

.fa-github{
    font-size: 24px;
    color: #ffffff;
}
.fa-github:hover{
    color: #443da3;

}    
.copyright p{
    font-size: 0.8rem;

}

@keyframes smoothBreath {

    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.2);

    }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .hero img {
    width: 90%;
  }
}
