body {
    font-family: "Poppins", sans-serif;

    background: #000;

    position: relative;
    color: #b4b4b4;
    min-height: 100vh;
    margin: 0;


    overflow-x: hidden;
    z-index: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


body::before {
    content: "";
    position: fixed;

    inset: 0;

    background: radial-gradient(ellipse 78% 88% at center,
            #443da3 0%,
            #000000 32%);

    transform: scale(1);
    transform-origin: center;
    animation: smoothBreath 5s ease-in-out infinite;

    z-index: -1;
}



.app {
    width: 100%;
    max-width: 590px;
}

.navbar {
    padding-left: 1rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 1rem;
    color: #ccc;
}

.navbar a {
    color: #d0d0d0;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar a:hover {
    color: 443da3;
}

.hero {
    text-align: left;
    padding: 1rem;
}

.hero h1 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.hero p {
    padding-top: 0.5rem;
    letter-spacing: 0.1px;
    color: #d0d0d0;
    font-size: 1rem;
}


.footer {
    font-size: 0.9rem;
    padding: 0.5rem;
    gap: 1rem;
}
.footer .links {
    gap: 2.5rem;
}
.footer button{
    background: none;
    border-radius: 15px;
}
.footer button:hover{
    border: none;
    transition: 0.8s;
    background-color: #443da3;
}
.footer a {
    text-decoration: none;
    color: #d0d0d0;
}

.footer a:hover {
    transition: 0.5s;
    color: white;
}

.footer p {
    margin-top: 1.5rem;
}

@keyframes smoothBreath {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);

    }
}